@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

strong {
  color: #866D7E;
}

/* NAV */

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #33325F;
  text-decoration: underline;
  text-decoration-color: #D3B6B7;
  text-underline-position: under;
}

.logo {
  height: 75px;
  width: 175px;
}

/* BODY */

.movies__filter {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.border-top {
  transform: rotateX(180deg);
  position: fixed;
  top: 0;
  z-index: -1;
}

.border {
  position:fixed;
  bottom:0px;
  z-index: -1;
}

#search-container {
  padding: 24px;
  text-align: center;
}

#results-container {
  padding: 24px;
}

  .movie-topper  {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 12px;
    width: 200px;
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid white;
    border-bottom: 0px;
}

.movie-topper {
    background-image: linear-gradient(115deg, #3F3D56 0%, #866D7E 100%);
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie {
    border: 1px solid #ddd;
    margin: 0 10px 10px 10px;
    padding: 0 10px 10px 10px;
    width: 200px;
    height: 400px;
    text-align: center;
}
.movie img {
    max-width: 100%;
    height: auto;
}
.hidden {
    display: none;
}

#results-container, .movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 800px;
}

.btn, .back-btn {
  background-color: #A9889D;
  color: white;
  padding: 4px 12px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  transition: all 300ms ease;
}

.btn:hover, .back-btn:hover {
  background-color: #2F2E41;
}

.sort-container {
  margin-bottom: 12px;
}

.movie-img {
  margin-top: 24px;
  width: 360px;
}

/* SPINNER */

.loading-spinner {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
  color: #A9889D;
  font-size: 50px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* MODAL */

.modal {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
  border-radius: 20px;
}

#modal-body {
  display: flex;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #fefefe;
  width: 80%;
  max-width: 1100px;
  height: 552px; 
  max-height: 80vh; /* Set a max height relative to the viewport height */
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 20px;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 80px rgb(0, 0, 0, 0.55);
  border-radius: 12px;
  background-color: #000000;
}

.modal__half {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 40px 72px;
}

.modal__about {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  line-height: 1.75;
  color: #fefefe;
}

.modal__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  border-radius: 20px;
  height: 100%;
}

.movie__titleAndimg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  transform: scale(0);
  transition: all 300ms ease;
  color: #866D7E;
  font-weight: 750;
  font-size: 24px;
}

.movie__titleAndimg:hover .title {
  transform:scale(1);
}

.movie__poster {
  transition: all 300ms ease;
}

.movie__poster:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.close {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3; 
}

.close:hover,
.close:focus {
  color: #A9889D;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */

.footer__link,
.footer__copyright {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

.footer__link:hover {
  color: #33325F;
  text-decoration: underline;
  text-decoration-color: #D3B6B7;
  text-underline-position: under;
}

.footer__logo--img {
  width: 24px;
  height: 24px;
}

.no-cursor {
  cursor: not-allowed;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 865px) {

  .logo {
    display: none;
  }

  .nav__container {
    padding: 24px 0 0 0;
    justify-content: center;
  }

  .nav__link {
    font-size: 18px;
    color: #3F3D56;
  }
  
  .nav__link:hover {
    color: #000000;
  }

  .sort-container {
    margin-bottom: 0;
  }

  .back-btn {
    width: 180px;
    margin-bottom: 20px;
  }

  #results-container, .movie-container {
   width: 100px;
  }

  .modal-body {
    width: 100%;
    max-width: none;
    height: auto; 
    max-height: 90vh; 
    overflow-y: auto; 
  }

  .modal-body img {
    width: 100%;
    height: auto;
  }

  #modal-body {
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    z-index: 2; 
    width: 100%;
    max-width: 600px;
    max-height: 90vh; 
    overflow-y: auto; 
    box-sizing: border-box;
  }

  .modal__half {
    width: 90%;
    padding: 12px;
  }
}